@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Eater&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Eater&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 50px;
  border: 2px solid red;
  font-size: 16px;
  font-family: "Carrois Gothic SC";
}

.img-logo a {
  font-size: 40px;
  font-family: "Eater";
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.hero-section {
  text-align: center;
  font-family: "Carrois Gothic SC";
}

h1 {
  margin: 100px auto;
  width: 70%;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

.genres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.genre-wrapper {
  width: 60%;
  margin: 1.7rem 0;
}

.genre-wrapper h3 {
  color: red;
}

input {
  margin: 0.3rem;
  font-family: "Carrois Gothic SC";
}

#email,
#submit {
  height: 2.3rem;
  width: auto;
  border-radius: 6px;
  padding: 0 1.2rem;
  font-size: 1.2rem;
  font-weight: 700;
}

iframe {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.video {
  border: 2px solid red;
}
