@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Eater&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Eater&display=swap");
/*
:root {
  --void-black: #0d0d0d;
  --bg-black: #2a2a2a;
  --fog-gray: #3e3e3e;
  --phantom-white: #f5f5f5;
  --haunting-purple: #5e239d;
  --dark-purple: #2a003f;
  --candlelight-gold: #c99700;
  --mute-gray: #cccccc;
}
*/

:root {
  --color-bg: #0d0d0d; /* Deep black/charcoal */
  --color-bg-alt: #1a1a1a; /* Lighter bg */
  --color-blood: #8b0000; /* Dark red */
  --color-crimson: #b22222; /* Brighter red */
  --color-rot: #556b2f; /* Dark olive green */
  --color-ghost: #c0c0c0; /* Pale gray */
  --color-bone: #eeebaa; /* Bone yellow */
  --color-shadow: #301934; /* Purple */
  --color-fog: #2f4f4f; /* Smokey gray */
  --color-text: #f5f5f5;
  --color-text-muted: #999;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 50px;

  font-size: 16px;
  font-family: "Carrois Gothic SC";
  background-color: var(--color-bg-alt);

  /* Code below just to pass FCC's tests.
    Makes navbar stick to top of viewport always. 
  position: sticky;
  top: 0;
  */
}

.img-logo {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.img-logo a {
  font-size: 40px;
  font-family: "Eater";
  margin-left: 1.2rem;
  color: var(--color-bone);
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.nav-links a {
  color: var(--mute-gray);
}

.hero-section {
  text-align: center;
  font-family: "Carrois Gothic SC";
}

h1 {
  margin: 100px auto;
  width: 70%;
  font-size: 2rem;
  color: var(--phantom-white);
}

a {
  text-decoration: none;
}

.genres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.genre-wrapper {
  width: 60%;
  margin: 1.7rem 0;
}

input {
  margin: 0.3rem;
  font-family: "Carrois Gothic SC";
}

#email,
#submit {
  height: 2.3rem;
  width: auto;
  border-radius: 6px;
  padding: 0 1.2rem;
  font-size: 1.2rem;
  font-weight: 700;
}

iframe {
  display: block;
  margin: 0 auto;
  padding: 50px 0;
}

/* Merch Section */
.merch {
  padding: 50px 0;
}

.merch-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px;
  width: 80%;
  margin: auto;
}

.movies,
.apparel,
.collectibles {
  border: 2px solid var(--mute-gray);
  border-radius: 6px;
  text-align: center;
  flex: 1;
}

ul li {
  list-style-type: none;
  padding: 0.5rem;
  text-align: center;
}

.card-head {
  text-align: center;
  background-color: #0d0d0d;
  padding: 1.1rem 0;
  border-radius: 6px;
}

.card-btn {
  padding: 6px 8px;
  border-radius: 4px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  background-color: var(--void-black);
  border-radius: 2px;
  margin: auto;
}

footer a {
  color: var(--phantom-white);
  font-size: 1.3rem;
  padding: 2px;
  margin-left: 4px;
}

.footer-links {
  padding-top: 16px;
  margin-right: 12px;
}

h5 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 8px;
  padding-bottom: 16px;
  color: var(--fog-gray);
}

/* Still need the following
    At least one media query
*/

/* Media Queries */
/* Should always start with sm devices first, for mobile-first design */
